.content{
    text-align: center;
    margin-top: 100px;
    font-family: 'Marko One', serif;
}

.title{
    font-size: 70px;
}

.apologies{
    margin-bottom: 100px;
}

.book-tickets{
    margin-bottom: 200px;
}